<%- include('./encabezado')-%>
<body>
    <div class="container mt-3">
        <div class="jumbotron">
            <h1 style="color:blue;">Ingrese datos</h1>
            <br/>

            <form action="/datos" method="post">

                <div class="form-group">
                    <label for="nombre"><b>Nombre</b></label>
                    <input type="text" id="nombre" class="form-control" name="nombre">
                </div>

                <div class="form-group">
                    <label for="descripcion"><b>descripcion</b></label>
                    <input type="text" id="apellido" class="form-control" name="apellido">
                </div>

                <div class="form-group">
                    <label for="precio"><b>precio</b></label>
                    <input type="number" id="edad" class="form-control" name="edad">
                </div>

                <button class="btn btn-success mt-3 mb-5">Enviar</button>
            </form>

            <h2 style="color:crimson;">Historial</h2>
            <%- include('./tabla')-%>

        </div>
    </div>
</body>

<%- include('./pie') -%>