<% if(productos.length > 0){ %>
    <div class="table-responsive">
        <table class="table table-dark">
            <tr style="color: yellow;"> 
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
            <%productos.forEach(function(persona) { %>
                <tr>
                    <td><%=productos.nombre%></td>
                    <td><%=productos.descripcion%></td>
                    <td><%=productos.precio%></td>
                </tr>
                <%});%>
        </table>
    </div>
<% } else { %>
    <h3 class="alert alert-danger">No se encontraron datos</h3>
<% } %>